header
  div
    a#logo(href='/')
      h1.logo USER MANAGEMENT SYSTEM
  .dropdown
    button.dropbtn(onclick='myFunction()') MENU
    #myDropdown.dropdown-content
      a#users(href='/') users
      a#groups(href='/groups') groups
